{% extends "base.html" %}

{% block content %}

<div class="container mt-4">
  <h3 class="display-6">Detalhes da Entrada</h3>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">{{ object.product }}</h3>
      <p class="card-text">Fornecedor: <strong>{{ object.supplier }}</strong></p>
      <p class="card-text">Quantidade: <strong>{{ object.quantity }}</strong></p>
      <p class="card-text">{{ object.descripton}}
    </div>
  </div>
  <a href="{% url 'inflow_list' %}" class="btn btn-dark border border-secondary px-4 py-2 rounded-3 mt-3 shadow-sm">
    <i class="bi bi-arrow-left-short fs-5"></i>
    Voltar para lista de Entradas
</a>
</div>

{% endblock  %}

